<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MiniCore{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="background"></div>

    <main class="container">
        <header class="header">
            <h1>MiniCore Vendedores</h1>
            <p>Sistema de gestión de comisiones</p>
        </header>

        {% block content %}{% endblock %}
    </main>

</body>

</html>